[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Microsoft Rewards
Exec=bash /home/aki/Microsoft-Rewards-bot/start.sh
Path=/home/aki/Microsoft-Rewards-bot/
Terminal=true
