[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment[en_US]=Free and Open Source Streaming/Recording Software
Comment=Free and Open Source Streaming/Recording Software
Comment[an_ES]=Program de retransmisión/gravación libre y de codigo ubierto
Comment[ar_SA]=برنامج بث / تسجيل مجاني ومفتوح المصدر
Comment[bn_BD]=ফ্রি এবং মুক্ত সোর্স স্ট্রিমিং/রেকর্ডিং সফ্টওয়্যার
Comment[ca_ES]=Programa de retransmissió/enregistrament de codi lliure i gratuït
Comment[cs_CZ]=Svobodný software pro vysílání a nahrávání
Comment[da_DK]=Gratis og open-source streaming-/optagelsessoftware
Comment[de_DE]=Freie und Open-Source-Streaming-/Aufnahme-Software
Comment[el_GR]=Δωρεαν Λογισμικό Streaming/Kαταγραφή ανοιχτου κωδικα
Comment[en_GB]=Free and Open Source Streaming/Recording Software
Comment[es_ES]=Difusion Digital/Software de grabacion Gratis y con Fuentes Abiertas
Comment[et_EE]=Tasuta ja avatud lähtekoodiga video voogesituse ja salvestuse tarkvara
Comment[fa_IR]=نرم افزار منبع باز و رایگان جریان/ضبط
Comment[fi_FI]=Ilmainen ja avoimen lähdekoodin striimaus-/tallennusohjelmisto
Comment[fil_PH]=Libre at Open Source na Streaming/Recording Software
Comment[fr_FR]=Logiciel de diffusion/enregistrement gratuit et Open Source
Comment[gd_GB]=Bathar-bog sruthaidh/clàraidh saor le bun-tùs fosgailte
Comment[he_IL]=תכנה חינמית בקוד פתוח לשידורים חיים ולהקלטה
Comment[hi_IN]=स्वतंत्र एवं खुले स्रोत वाला स्ट्रीमिंग/रिकॉर्डिंग सॉफ्टवेयर
Comment[hr_HR]=Slobodan softver otvorenog koda za emitiranje/snimanje
Comment[hu_HU]=Szabad és nyílt forráskódú közvetítő/rögzítő szoftver
Comment[id_ID]=Perangkat Lunak Streaming/Perekaman Gratis dan Sumber Terbuka
Comment[it_IT]=Software Libero e Open Source Streaming/Registrazione
Comment[ja_JP]=無料のオープンソース配信/録画ソフトウェア
Comment[ka_GE]=თავისუფალი და ღია წყაროს მქონე, ვიდეოს ეთერში გამშვები/ჩამწერი პროგრამა
Comment[kmr_TR]=Nermalava weşandin/tomarkirin-ê belaş û çavkaniya azad
Comment[ko_KR]=무료 오픈소스 방송 및 녹화 프로그램
Comment[ms_MY]=Perisian Penstriman/Rakaman Bersumber Terbuka dan Bebas
Comment[nb_NO]=Gratis Strømming- og Opptaksprogramvare med Åpen Kildekode
Comment[nl_NL]=Vrij en Open Source Streaming/Opname Sofware
Comment[pl_PL]=Darmowe i otwarte oprogramowanie do transmisji strumieniowej/nagrywania
Comment[pt_BR]=Software de Streaming/Gravação de Código Aberto e Livre
Comment[pt_PT]=Programa de transmissão/gravação livre e de código aberto
Comment[ro_RO]=Program de streaming / înregistrare gratuit și open source
Comment[ru_RU]=Свободное и открытое ПО для видеостриминга и видеозаписи
Comment[sk_SK]=Bezplatný a otvorený streamovací/nahrávací software
Comment[sl_SI]=Brezplačni in odprtokodna programska oprema za pretakanje/snemanje
Comment[sv_SE]=Fri programvara för strömning/inspelning med öppen källkod
Comment[tr_TR]=Ücretsiz ve Açık Kaynaklı Yayın/Kayıt Yazılımı
Comment[uk_UA]=Вільне та відкрите програмне забезпечення для трансляцій/запису
Comment[vi_VN]=Phần mềm ghi hình / phát luồng mở và miễn phí
Comment[zh_CN]=自由且开源的用于直播串流以及视频录制的软件
Comment[zh_TW]=免費，開源的串流與錄影軟體
Exec=vk_pro obs
GenericName[en_US]=Streaming/Recording Software
GenericName=Streaming/Recording Software
GenericName[an_ES]=Programa de retransmisión/gravación
GenericName[ar_SA]=برامج البث / التسجيل
GenericName[bn_BD]=স্ট্রিমিং/রেকর্ডিং সফটওয়্যার
GenericName[ca_ES]=Programa de retransmissió/enregistrament
GenericName[cs_CZ]=Software pro vysílání a nahrávání
GenericName[da_DK]=Streaming-/optagelsessoftware
GenericName[de_DE]=Streaming-/Aufnahme-Software
GenericName[el_GR]=Λογισμικό Ροής/Καταγραφής
GenericName[en_GB]=Streaming/Recording Software
GenericName[es_ES]=Disfusion digital/ Software de grabacion
GenericName[et_EE]=Video voogesituse ja salvestuse tarkvara
GenericName[fa_IR]=نرم افزار جریان/ضبط
GenericName[fi_FI]=Striimaus-/tallennusohjelmisto
GenericName[fil_PH]=Software para sa Streaming/Recording
GenericName[fr_FR]=Logiciel de diffusion/enregistrement
GenericName[gd_GB]=Bathar-bog sruthaidh/clàraidh
GenericName[he_IL]=תוכנה לשידורים חיים והקלטה
GenericName[hi_IN]=स्ट्रीमिंग/रिकॉर्डिंग सॉफ्टवेयर
GenericName[hr_HR]=Softver za emitiranje/snimanje
GenericName[hu_HU]=Közvetítő/rögzítő szoftver
GenericName[id_ID]=Perangkat Lunak Streaming/Perekaman
GenericName[it_IT]=Software per dirette e registrazione schermo
GenericName[ja_JP]=配信/録画ソフトウェア
GenericName[ka_GE]=ვიდეოს ეთერში გამშვები/ჩამწერი პროგრამა
GenericName[kmr_TR]=Nermalava weşandin/tomarkirin-ê
GenericName[ko_KR]=방송 및 녹화 프로그램
GenericName[ms_MY]=Perisian Penstriman/Rakaman
GenericName[nb_NO]=Strømming- og Opptaksprogramvare
GenericName[nl_NL]=Streaming/Opname Software
GenericName[pl_PL]=Oprogramowanie do transmisji strumieniowej/nagrywania
GenericName[pt_BR]=Software de Streaming/Gravação
GenericName[pt_PT]=Programa de transmissão/gravação
GenericName[ro_RO]=Program de Streaming/Înregistrare
GenericName[ru_RU]=Программа для видеостриминга и видеозаписи
GenericName[sk_SK]=Streamovací/Nahrávací Software
GenericName[sl_SI]=Pretočna/snemalna programska oprema
GenericName[sv_SE]=Programvara för strömning/inspelning
GenericName[tr_TR]=Yayın/Kayıt Yazılımı
GenericName[uk_UA]=Програма для трансляцій/запису
GenericName[vi_VN]=Phần mềm ghi hình/phát luồng
GenericName[zh_CN]=直播/录像软件
GenericName[zh_TW]=串流與錄影軟體
Icon=com.obsproject.Studio
MimeType=
Name[en_US]=OBS Studio
Name=OBS Studio
Path=
StartupNotify=true
StartupWMClass=obs
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
